html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background-color: #000000;
}

.content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  z-index: 2;
  border: 1px solid transparent;
  background-image: url('/static/images/what-the-hex-dark.png');
  background-repeat: repeat;
  background-position: center;
}
