.image {
  position: relative;
  display: flex;
  justify-content: flex-start;
  width: 66.66%;
  background-color: #ffffff;
  margin-top: 105px;
  border-radius: 5px;
  box-shadow: 0 0 8px 0 #f9f9f9;
  z-index: 10;
}

.image__img-wrapper {
  padding: 10px;
  max-width: 50%;
}

.image__img {
  max-width: 100%;
  width: auto;
}

.image__table {
  border-collapse: collapse;
  margin-bottom: 20px;

  a {
    color: #222222;
    text-decoration-color: #222222;
  }

  tr {
    border-bottom: 1px dotted #acacac;
  }

  td {
    padding: 10px;
    font-size: 20px;
    color: #222222;

    &:first-child {
      font-family: "Open Sans Bold", sans-serif;
      color: #222222;
      width: 50%;
    }
  }
}

.image__info {
  display: flex;
  flex-direction: column;
  flex-basis: 49%;
  padding: 10px;

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    flex: 1 1 auto;
  }
}

.image__tags {
  display: flex;
  flex-wrap: wrap;
  margin-top: auto;
  min-height: 50px;

  a {
    text-decoration-color: #222222;
  }

}

.image__tag {
  color: #444444;
  font-size: 16px;
  padding: 5px;
}

@media (max-width: 992px) {
  .image {
    width: 80%;
  }

  .image__table {
    td {
      font-size: 18px;
    }
  }
}

@media (max-width: 768px) {
  .image {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .image__img-wrapper {
    max-width: 75%;
  }

  .image__table {
    td {
      font-size: 16px;
    }
  }

  .image__tag {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .image__img-wrapper {
    max-width: 100%;
  }
}
